/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 29 sep. 2022, 20:43:26
    Author     : Admin
*/

.block{
    background-color: purple;
    width: 200px;
    height: 200px;
    
    padding: 20px;
    border: 20px solid blue;
    box-sizing: border-box;
}



